/** @format */

:root {
	--paddingList-sides: 0.25rem;
	--marginList-sides: 0.25rem;
}

*{
  overflow-x: hidden;
}

html {
	height: 100%;
  }
  body {
	min-height: 100%;
  }

ul,
ol {
	list-style: none;
	display: flex;
	align-items: center;
}

ul > li {
	padding: 0 var(--paddingList-sides);
	margin: (--marginList-sides);
}

ol > li {
	margin: (--marginList-sides);
	padding: 0 var(--paddingList-sides);
}

a {
	text-decoration: none;
	color: inherit;
}

div,a,p,h1,h2,h3,h4,h5,h6,span{
	overflow-y: hidden ;
}